section.section.section-subscribe
	.container
		.subscribe
			.subscribe__header
				h3 Subscribe to our newsletter
				p.text Cras pulvinar mattis nunc sed blandit.
			.subscribe__body
				form.subscribe-form
					.subscribe-form__input-wrapper
					input(type="email" placeholder="enter email").subscribe-form__input.input-field
					button(type="submit").subscribe-form__btn subscribe
						.subscribe-form__arrow.arrow.arrow--primary
							+icon('arrow-right', 'subscribe-form__icon arrow__icon')
