section.section.section-workflow
	.container
		.workflow__header
			p.title.title--small.primary what we do
			h5.white Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle.
		.workflow__list
			.workflow__item.step
				.step__number.title--large 01
				h5.step__header.white Research
				.step__descr.text--small Eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Eu feugiat pretium nibh ipsum consequat nisl vel pretium.
			.workflow__item.step
				.step__number.title--large 02
				h5.step__header.white Marketing
				.step__descr.text--small Eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Eu feugiat pretium nibh ipsum consequat nisl vel pretium.
			.workflow__item.step
				.step__number.title--large 03
				h5.step__header.white Results
				.step__descr.text--small Eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Eu feugiat pretium nibh ipsum consequat nisl vel pretium.
