section.section.section-intro
	.intro-bg.intro-bg__main
	.container
		.intro
			.intro__content
				p.intro__subtitle.title.title--medium.white What we do?
				h1.intro__title.white
					| We grow
					br
					|<span class="primary">great business</span>
				.intro__button.text--regular
					.intro__button-inner
						span Velit laoreet id donec ultrices. Ut lectus arcu bibendum varius.
							a(href="")
								.arrow.intro__arrow
									+icon('arrow-right','intro-icon arrow__icon')
			.intro__scroll-down
				.scroll-down
					.scroll-down__text.title.title--small.white Scroll to see more
					a(href="#services")
						+icon('arrow-down','scroll-down__icon')
