mixin swiper(bgImage,bgAlt,quote,author)
	.swiper-slide
		.reviews
			.reviews__header
				.reviews__photo
					img(src=bgImage, alt=bgAlt).reviews__img
			.reviews__body
				.reviews__content.quote-text.quote-text--large=quote
			.reviews__footer
				.reviews__author
					| <span class="primary text--regular-bold">#{author}</span>
					|  - Some Company

section.section.section-reviews
	.container
		.swiper-container
			.swiper-wrapper
				+swiper('static/images/general/reviews-1.png', 'Kirill', 'Lectus arcu bibendum at varius. Adipiscing diam donec adipiscing tristique.', 'Kirill')
				+swiper('static/images/general/reviews-2.png', 'Aleksey', 'Lectus arcu bibendum at varius. Adipiscing diam donec adipiscing tristique.', 'Aleksey')
				+swiper('static/images/general/reviews-3.png', 'Ivan', 'Lectus arcu bibendum at varius. Adipiscing diam donec adipiscing tristique.', 'Ivan')
				+swiper('static/images/general/reviews-4.png', 'Ira', 'Lectus arcu bibendum at varius. Adipiscing diam donec adipiscing tristique.', 'Ira')
			button.reviews__arrow.reviews__arrow--next.arrow.arrow--primary
				+icon('arrow-right','reviews__arrow-icon arrow__icon')
			button.reviews__arrow.reviews__arrow--prev.arrow.arrow--primary
				+icon('arrow-left','reviews__arrow-icon arrow__icon')
