extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include modules/intro/intro
	include modules/services/services
	include modules/benefits/benefits
	include modules/clients/clients
	include modules/work-flow/work-flow
	include modules/reviews/reviews
	include modules/subscribe-form/subscribe-form
