section.section.section-clients
	.clients
		.container
			.clients__header
				p.title.title--small.primary what we do
				h3 What we  do more than you can imangine, belive us.
		.clients__wrapper
			.clients__content.clients-content
				.clients-content__header
					h4.primary We build great business
				.clients-content__body
					p.text--regular.white Nisl condimentum id venenatis a. Nec tincidunt praesent semper feugiat nibh sed pulvinar proin gravida. Sollicitudin tempor id eu nisl nunc.
					p.text--regular.white Adipiscing diam donec adipiscing tristique risus nec feugiat in fermentum. Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae.
					p.text--regular.white Massa massa ultricies mi quis hendrerit dolor magna. Egestas dui id ornare arcu odio..
			.clients__companies.companies
				p.companies__header.title.title--small our clients
				.companies__list
					.companies__item
						+icon('codepen', 'companies__icon-1')
					.companies__item
						+icon('dribbble', 'companies__icon-2')
					.companies__item
						+icon('dribbble', 'companies__icon-2')
					.companies__item
						+icon('codepen', 'companies__icon-1')
					.companies__item
						+icon('codepen', 'companies__icon-1')
					.companies__item
						+icon('dribbble', 'companies__icon-2')
