// Colors
$white: #FCFCFC;
$black: #000000;

$primary: #F61067;
$secondary-100: #5E239D;
$secondary-200: #3A0475;
$secondary-300: #30124E;
$secondary-400: #150433;
$tettriary: #00F0B5;
$tettriary-light: #6DECAF;
$light-grey: #F4F4ED;
$headers: #30233D;
$main-text: #776C82;
$grey: #9B94A3;
$error: #F0002B;
$success: #10F65E;
$warning: #F67110;
$info: #00A8F0;


// Sizes
$base-font-size: 1.8rem;

//
// Breakpoint	Purpose
// (default)	Mobile-portrait
// min-width: 480px	Mobile-landscape (and larger)
// min-width: 768px	Tablet-portrait (and larger)
// min-width: 992px	Tablet-landscape (and larger)
// min-width: 1200px	Laptops (and langer)
//


$breakpoints: (
  "phone"       : 400px,
  "phone-wide"  : 480px,
  "phablet"     : 560px,
  "tablet-small": 640px,
  "tablet"      : 768px,
  "tablet-wide" : 1024px,
  "desktop"     : 1248px,
  "desktop-wide": 1440px
);

$content-size: 1140px;
$tablet-size: 768px;
$tablet-size-wide: 992px;
$phone-size: 480px;
$phablet-size: 560px;
$phone-size-small: 360px;
$desktop: 1248px;
$phone-small: 320px;
// Fonts

$mplus1p: "Mplus1p", sans-serif;
$notica: "Noticia Text", sans-serif;
