.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.25);
	transition: all linear .3s;
	background-color: transparent;
	&__icon {
		fill: $white;
		transition: all linear .3s;
	}
	&:hover {
		border-color: $primary;
		.arrow__icon {
			fill: $primary;
		}
	}
	&--primary {
		border: 1px solid $primary;
		.arrow__icon {
			fill: $primary;
		}
		&:hover {
			background-color: $primary;
			.arrow__icon {
				fill: $white;
			}
		}
	}
}
