.burger {
	width: 2.7rem;
	height: 1.6rem;
	position: relative;
	z-index: 10;
	cursor: pointer;
	&-active {
		.burger-line:nth-child(1) {
			transform: rotate(-45deg) translate(-5px,6px);
		}
		.burger-line:nth-child(2) {
			opacity: 0;
		}
		.burger-line:nth-child(3) {
			transform: rotate(45deg) translate(-4px,-6px);
			width: 100%;
		}
	}
}
.burger-line {
	width:100%;
	height:0.2rem;
	position: absolute;
	background-color: $white;
	transition: all ease 0.5s;
	&__top {
		top: 0;
		right: 0;
	}
	&__middle {
		top: 45%;
		right: 0;
	}
	&__bottom {
		width: 75%;
		bottom: 0;
		right: 0;

	}
}
