@import 'burger';
@import 'headers';
@import 'arrow';

.section {
	position: relative;
	&-intro {
		min-height: 83rem;
		padding-top: 25rem;
		@media screen and (max-width:$tablet-size-wide) {
			padding-top: 18rem;
		}
		@media screen and (max-width:$tablet-size) {
			min-height: 60rem;
		}
		@media screen and (max-width:$phone-size) {
			padding-top: 14rem;
		}
	}
	&-services {
		padding-top: 18rem;
		padding-bottom: 8rem;
		background-color: $white;
		@media screen and (max-width:$tablet-size-wide) {
			padding-top: 10rem;
		}
		@media screen and (max-width:$phone-size) {
			padding-top: 5rem;
			padding-bottom: 5rem;
		}
	}
	&-benefits {
		background-color: #fff;
		padding: 11rem 0;
		@media screen and (max-width:$tablet-size-wide) {
			padding: 4rem 0;
		}
	}
	&-clients {
		padding-top: 18rem;
		background-color: $white;
		@media screen and (max-width:$tablet-size-wide) {
			padding-top: 10rem;
		}
		@media screen and (max-width:$tablet-size) {
			padding-top: 5rem;
		}
	}
	&-workflow {
		padding-top: 25rem;
		padding-bottom: 30rem;
		background-color: $secondary-300;
		@media screen and (max-width:$tablet-size-wide) {
			padding-top: 15rem;
			padding-bottom: 10rem;
		}
		@media screen and (max-width:$phablet-size) {
			padding: 5rem 0;
		}
	}
	&-reviews {
		padding-top: 5rem;
		padding-bottom: 13rem;
		@media screen and (max-width:$phone-size) {
			padding-bottom: 5rem;
		}
	}
	&-subscribe {
		padding-top: 12px;
		padding-bottom: 15rem;
		@media screen and (max-width:$phablet-size) {
			padding-bottom: 10rem;
		}
		@media screen and (max-width:$phone-size) {
			padding-bottom: 5rem;
		}
	}
}
.title {
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 2rem;
	&--medium {
		font-size: 1.5rem;
		letter-spacing: 4px;
	}
	&--small {
		font-size: 1.3rem;
		margin-bottom: 2rem;
		letter-spacing: 6px;
	}
	&--large {
		font-size: 1.8rem;
		letter-spacing: 4px;
	}
}
.white {
	color: $white;
}
.primary {
	color: $primary;
	&--bg {
		background-color: $primary;
	}
}

.text {
	color: $main-text;
	&--regular {
		font-size: 1.8rem;
		line-height: 1.6;
		font-weight: 400;
		@media screen and (max-width:$tablet-size) {
			font-size: 1.6rem;
		}
	}
	&--regular-bold {
		font-size: 1.8rem;
		line-height: 1.6;
		font-weight: 700;
		@media screen and (max-width:$tablet-size) {
			font-size: 1.6rem;
		}
	}
	&--small {
		font-size: 1.6rem;
		line-height: 1.6;
		font-weight: 400;
		@media screen and (max-width:$phone-size) {
			font-size: 1.2rem;
		}
	}
}

.quote-text {
	line-height: 1.8;
	font-family: $notica;
	font-weight: 100;
	&__small {
		font-size: 2.3rem;
		@media screen and (max-width:$tablet-size) {
			font-size: 2rem;
		}
		@media screen and (max-width:$phone-size) {
			font-size: 1.6rem;
		}
	}
	&__large {
		font-size: 3.6rem;
	}
}
.link {
	display: inline-block;
	text-decoration: none;
	&:after {
		content: "";
		display: block;
		width: 0;
		border-bottom: 1px solid $white;
		margin: 0 auto;
		margin-top: 0.5rem;
		transition:all linear .2s;
	}
	&:hover {
		&:after {
			width: 80%;
		}
	}
}
