.btn {
	padding: 2rem 4.5rem;
	font-size: 1.4rem;
	letter-spacing: 2px;
	font-weight: 500;
	border-radius: 3.6rem;
	color: $white;
	text-transform: uppercase;
	display: inline-block;
	transition: all linear .3s;
	&:hover {
		transition: all linear .3s;
		background-color: rgba(246, 16, 103, 0.8);
	}
	@media screen and (max-width:$tablet-size) {
		padding: 1.5rem 2.5rem;
	}
}
